<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Reserve Equipment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.start }}</td>
            <td>{{ appointment.end }}</td>
            <td><button (click)="reserveAppointment()">Reserve Appointment</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

