<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Reserve Equipment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{ company.id }}</td>
            <td>{{ company.companyName }}</td>
            <td>{{ company.address }}</td>
            <td><button (click)="reserveEquipment(company.id)">Reserve Equipment</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
