<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Complaint Text</th>
            <th scope="col">Complaint Response</th>
            <th scope="col">Company</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let complaint of complaints">
            <td>{{ complaint.id }}</td>
            <td>{{ complaint.complaintText }}</td>
            <td>{{ complaint.complaintResponse }}</td>
            <td>{{ complaint.companyId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
